body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#station_name a {
  color: green;
}

td {
  text-align: right;
}

.message {
  background-color: #dddddd;
}

#auth-loginlink {
  background-color: #29447E;
  background-image: url(../img/fb.png);
  background-repeat: no-repeat;
  background-position: 5px 2px;
}

div.fb_button {
  float: left;
  background-position: left -188px;
  margin-top: 8px;
  margin-bottom: 8px;
}

